@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #fff;
    --section-height: 90vh;
    --nav-height: 10vh;
}


::-webkit-scrollbar {
    width: 1px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

html {
    scroll-behavior: smooth;
}
